body {
	font-size: 18px;
	background-color: #F6F6F6;
	border-top: 5px solid #222222;
	border-bottom: 5px solid #222222;
	padding: 50px;
	margin: 30px;
}

nav {
	text-align: center;
}

a {
	font-weight: bold;
}

h1 {
	text-transform: uppercase;
	text-align: center;
}

h3 {
	text-transform: uppercase;
}

img.joe {
	float: right;
	border: solid black 1px;
	padding: 3px;
	margin-left: 50px;
	overflow: auto;
	
}

.clearfix {
    overflow: auto;
}

img.portfolio {
	padding: 4px;
	border: 1px solid black;
	margin-top: 10px;
	margin-left: 30px;
	margin-bottom: 10px;

}

li.portfolio {
	list-style-type: none;
}

span.full {
	font-weight: bold;
}

span.date {
	color: gray;
	font-size: 13px;
}